<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.dao.MapMapper" >
    <select id="getMapById"  resultType="com.boot.vo.MapVo" parameterType="Integer">
        select
          id,
          map_id  mapId,
          map_plot_id  mapPlotId,
          plot_type  plotType,
          plot_name  plotName
        from
          map
        WHERE
          map_id = #{mapId,jdbcType=INTEGER}
    </select>

    <select id="getUserMapByUseId"  resultType="com.boot.vo.UserMapVo" parameterType="Integer">
        select
          id,
          user_id userId,
          map_id  mapId,
          map_plot_id  mapPlotId,
          circle_num  circleNum,
          update_time  updateTime
        from
          user_map
        WHERE
          user_id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>